/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

body {
    font-family: Arial,sans-serif;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:antiquewhite;
  }
  
  h1 {
      text-align:center;
      margin-bottom:200px;
  }
  
  .login-container {
      background-color: aliceblue;
      border-radius:10px;
      box-shadow:0 4px 6px rgba(0,0,0,0.1);
      width:350px;
      padding:30px;
  }
  
  .form-group {
      margin-bottom:15px;
  }
  
  label {
      display:block;
      margin-bottom:5px;
      font-weight:bold;
  }
  
  input {
      width:100%;
      padding:10px;
      border:1px solid #ccc;
      border-radius:5px;
      font-size:16px;
  }

  form {
    display:flex;
    flex-direction:column;
    gap: 15px;
  }
